body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

header.masthead {
  background: url('../css/Imagen16.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.servicios{
    margin-top: 30px;
    margin-bottom: 30px;
}
#video{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}
header.masthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
  header.masthead>.overlay {
    padding: 10rem 0;
  }
}
#reserva{
    width: 100%;
    height: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #1B2631;
    color: #fff;
}
.nosotros{
    background: url("../css/Imagen11.jpg")50% 0 fixed;
    min-height: 400px;
    margin: 0 auto;
    width: 100%;
    padding: 100px 0;
    background-size: cover;
}